<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= partial 'layouts/meta_tags' %>
    <%= favicon_tag 'favicon.jpg' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <%= stylesheet_link_tag :all %>
  </head>
  <body class="#{page_classes}">
    <%= yield %>
  <%= javascript_include_tag :all %>
  </body>
</html>
